NEXT_PUBLIC_TMDB_API_KEY=eed17629a8bb6984b44e3e2f229190df
NEXT_PUBLIC_TMDB_BASE_API_URL=https://api.themoviedb.org/3
NEXT_PUBLIC_TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlZWQxNzYyOWE4YmI2OTg0YjQ0ZTNlMmYyMjkxOTBkZiIsIm5iZiI6MTcyOTkxODA3MC40ODYzMSwic3ViIjoiNjcxYzczNGE1ZDBkZTg5MDQyZDkyOTkzIiwic2NvcGVzIjpbImFwaV9yZWFkIl0sInZlcnNpb24iOjF9.Inq5t1pLaudkBZFkfiJBoOQcNc-pIE3SJZi613KgbB0